# 知华科技（上海如静知华信息科技有限公司） https://www.zhuatech.cn/ 咨询微信：zhuatech / zhuatech2
POS_HOST=127.0.0.1
POS_PORT=8091
POS_DB_PATH=./data/pos.sqlite
POS_ADMIN_PASSWORD=
POS_DEMO_DATA=false
POS_SECURE_COOKIE=false
POS_BIND_ADDRESS=127.0.0.1
POS_PUBLIC_PORT=8091
